.message{
    display: flex;
    margin-top: 10px;
}
.message__left{
    flex: 0 0 40px;
    max-width: 40px;
    text-align: center;
}
.message__left img{
    border-radius: 50%;
    width: 40px;
    height: 40px;
}
.message__left a{
    text-decoration: none;
    color: rgb(97, 51, 51);
}
.message__right{
    flex: 0 0 calc(80% - 100px);
    max-width: calc(80% - 100px);
    padding-left: 20px;
}
.message__right p{
    padding: 15px;
    background-color: rgb(241, 241, 241);
    border-radius: 5px;
    position: relative;
    z-index: 1;
}
.message__right p:before{
    content: '';
    top: 11px;
    left: -8px;
    background-color: rgb(241, 241, 241);
    width: 20px;
    height: 20px;
    transform: rotate(45deg);
    position: absolute;
    z-index: 0;
}

.message.companion{
    justify-content: flex-end;
    
}
.message.companion .message__left{
    order: 2;
}
.message.companion .message__right{
    order: 1;
    padding-left: 0px;
    padding-right: 20px;
    
}
.message.companion .message__right p:before{
    left: unset;
    right: -8px;
}