.posts {
    flex: 0 0 100%;
    max-width: 100%;
    margin-top: 30px;
    background-color: rgb(240, 240, 240);
    border-radius: 5px;
    padding: 10px;
}

.posts h2 {
    text-align: left;
}

.posts__new form{
    /* margin-top: 10px; */
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}
.posts__new label{
width: 0;
}
.posts__new input{
    width: 100%;
}
.posts__new button {
    /* width: 20%; */
    margin-top: 20px;
    background-color: rgb(53, 130, 207);
    padding: 10px 60px;
    border: none;
    color: #fff;
    font-size: 18px;
    border-radius: 15px;
}

.posts__others {
    margin-top: 20px;
}