.messages{
    flex: 0 0 calc(100% - 230px);
    max-width: calc(100% - 230px);
    margin-left: 30px;
    background-color: #fff;
    border-radius: 5px;
}
.dialogTo{
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-color: rgb(241, 241, 241);
    padding: 20px; 
    padding-top: 10px;
    padding-bottom: 10px;
}
.allMessages{
    padding: 20px;
}
.newMessage{
    background-color: rgb(241, 241, 241);
    padding: 20px;
    padding-top: 0;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
.newMessage form{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.newMessage label{
    width: 0;
}
.newMessage input{
    width: 100%;
    background-color: #fff;
    padding: 5px 15px;
}
.newMessage button{
    margin-top: 20px;
    width: 20%;
    /* flex: 0 0 83px; */
    /* max-width: 83px; */
    background-color: rgb(53, 130, 207);
    padding: 5px 20px;
    border: none;
    color: #fff;
    font-size: 18px;
    border-radius: 15px;
    box-sizing: border-box;
}