.menu{
  display: flex;
  flex-direction: column;
}
.menu a.active{
  background-color: rgba(167, 167, 167, 0.432);
}
.menu a.activeMessages{
  color: rgb(74, 202, 24);
}
.menu a:hover{
  text-decoration: none;
  background-color: rgba(167, 167, 167, 0.432);
  color: #456;
  transition: .3s
}