.author {
    display: flex;
    align-items: flex-start;
    margin-top: 20px;
    flex-wrap: wrap;
}

.author img {
    border-radius: 50%;
}

.author__details {
    margin-left: 30px;
}

.author__details p {
    margin-top: 10px;
}