.dialog{
    text-decoration: none;
    color: #456;
    font-weight: 400;
    padding: 5px 10px;
}
.dialog:hover{
    text-decoration: none;
    color: rgb(65, 109, 150);
}
.dialog.active{
    font-weight: 600;
    background-color: rgba(212, 212, 212, 0.534);
}