.appWrapper{
  background: rgb(221, 221, 221);
  min-height: 100vh;
}
main{
  display: flex;
  justify-content: space-between;
  margin-top: 20px!important;
}
main .content {
  flex: 0 0 85%;
  max-width: 85%;
}
.errorModal{
  position: absolute;
  top: 19px;
  right: 40px;
  width: 200px;
  background-color: #fff;
  border-radius: 10px;
  padding: 10px;
  padding-bottom: 15px;
  box-shadow: 0px 0px 2px rgb(99, 93, 93);
  z-index: 10;
}